.card {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .cabecalho {
  background-color:  #8c8888;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.card img {
  width: 50%;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
}

.card .rodape {
  background: #FFFFFF;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  padding-top: 35%;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items:  center;
}
.card .rodape > *{
  margin: 5px;;
}
.card .rodape #nome {
  color: #6278F7;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.card .rodape #endereco {
  font-size: 18px;
  line-height: 22px;
  color: #212121;
}