.card {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .close {
  align-self: flex-end;
  margin-right: 3%;
  margin-top: 3%;
}
.card .cabecalho {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .img {
  width: 50%;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
  margin-top: -50px;
}

.card .noUser {
  position: relative;
  bottom: -40px;
  border: 1pt solid black;
  border-radius: 50%;
  padding: 10%;
  background-color: white;
}

.card .rodape {
  background: #ffffff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  padding-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .rodape > * {
  margin: 5px;
}
.card .rodape #nome {
  color: #6278f7;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.card .rodape #cargo {
  font-size: 18px;
  line-height: 22px;
  color: #212121;
}
