.rodape {
  display: flex;
  justify-content: space-around;
  background-color: #6278f7;
  align-items: center;
  height: 30%;
}
.rodape .redeSocial {
  display: flex;
  justify-content: space-around;
  gap: 20%;
  max-height: 40px;
}

.rodape .logo img {
  padding: 10% 0;
  max-height: 50px;
}

.rodape .texto {
  color: white;
  font-weight: 500;
}
